.mail-item{
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin: 0 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid black;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    text-align: left;
    padding: 0 1rem;
    height: 3rem;
}
.mail-item:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
.blue-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
.delete-btn{
    color: black;
    text-decoration: underline;
    background: none;
    border: 0;
}
.delete-btn:hover{
    background: none;
    font-size: large;
    border: 0;
}
.from-div{
    width: 20%;
    margin-left: 1rem;
}
.subject-div{
    width: 35%;
}
.delete-div{
    width: 15%;
    position: relative;
    right: 60px;
}
.date-div{
    position: relative;
    right: 35px;
    width: 15%;
    text-align: right;
}