* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container {
    width: 100%;
}

.toolbar-div {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: #DDD0C8;
    display: flex;
    margin: 0;
}

.menu-div-content {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 135px);
    background-color: white;
    display: flex;
    justify-content: flex-start;
}


.menu-div {
    width: 20vw;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.compose-btn{
    width: 90%;
}

.mail-div {
    width: 80vw;
    height: 100%;
    background-color: white;

    /* flex: 1;    
    padding-bottom: 40px; 
    height: 100%; */
}

.mail-div ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;   
    white-space: nowrap;
    
}

.inbox-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
.message:hover{
    background-color: #DDD0C8;
    font-size: large;
}
.mail-div ul::-webkit-scrollbar {
    width: 10px;  
  }
  
  .mail-div ul::-webkit-scrollbar-track {
    background: #f1f1f1;    /* track color */
  }
  
  .mail-div ul::-webkit-scrollbar-thumb {
    background: #888;       /* scrollbar color */
    border-radius: 10px;    /* smooth round edges */
  }
  
  .mail-div ul::-webkit-scrollbar-thumb:hover {
    background: gray;       /* darker on hover */
  }
  .message{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 236, 251);
    border: 1px solid aliceblue;
    height: 3rem;
    padding: 1rem;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
  }
  