.mail-item{
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin: 0 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid black;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}
.mail-item:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
.blue-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    margin-right: 10px;
}