*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.btn{
    display: block;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgb(93, 83, 83);
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgba(141, 91, 43, 0.685);
    padding: 2rem;
    border-radius: 5px;
    
}
.form-input input{
    width: 20rem;
    height: 4rem;
    padding:0 1rem ;
    border-radius: 10px;
    background-color: #473939fc;
}

.login-signup button{
    background-color: #473939fd;
    color: antiquewhite;
}