*{
    box-sizing: border-box;
}


.auth-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;

}
.btn{
    display: block;
    width: 100%;
    height: 4rem;
    border-radius: 40px;
    background-color: rgb(93, 83, 83);
    outline: none;
    border: 1px solid black;
    
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:#DDD0C8;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form-input input{
    width: 18rem;
    height: 4rem;
    padding:0 1rem ;
    border-radius: 10px;
    background-color: 323232;
    color: antiquewhite;
    font-weight: bold;
}

.login-signup button{
    background-color: #473939fd;
    color: antiquewhite;
    border-radius: 10px;
}
