.navbar{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
    background-color: #DDD0C8;
    margin: 0;
    
}
