.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 100vh;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    background-color: white;
    z-index: 20;
}