.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 9998;
  }
  

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    background: white;
    padding: 24px;
    border-radius: 10px;
  
    width: 65%;
    height: 80%;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  
    z-index: 9999;   /* always above backdrop */
  }

